body {
    /* background: url('./components/background.jpg'); */
    background-color: black;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-position: fixed;
  }

  

